{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About lovin2code</h1>
    </header>
    <article>
        <p>a simple blog created by Khaled Bouguerra using symfony2.</p>
    </article>
{% endblock %}